
* {
    font-family: 'Noto Sans JP';
}
body {
    max-width: 640px;
    margin: auto;
    padding: 0.2rem 1rem;
}
div.h2 {
    display: flex;
    justify-content: center;
}
h2::before {
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 0.1em;
    background-color: #333;
    position: absolute;
    top: 0.8em;
    left: -2em;
}
h2::after {
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 0.1em;
    background-color: #333;
    position: absolute;
    top: 0.8em;
    right: -2em;
}
h2 {
    position: relative;
}